* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-menu {
    flex-direction: column;
    min-width: 20%;

    min-height: 100vh;
    background-color: darkgray;

}

.main-info-place {
    min-width: 80vw;

    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkcyan;
}

form {
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
    height: 150px;
    border-radius: 10% / 50%;
    border: 2px dotted darkolivegreen;
    align-items: center;
    justify-content: center;
}

form div {

}

button {
    width: 75%;
    height: 50px;
    margin-top: 5%;
    border-radius: 10% / 50%;
}

.menu-btn {
    margin-inline:50px;
}

.card {
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 350px;
    padding: 5px;
    margin: 3px 10px;
    border-radius: 10% / 50%;
    border: 2px solid darkblue;
}